mq.appIds="ideploy"
mq.connect_timeout="1000"
mq.operate_timeout="5000"
mq.maximum_connections="1"
mq.maximum_active="500"
mq.idle_timeout="60000"
mq.ideploy.hosts="192.168.1.103:61616"

task.name="ice_96,mq_97,resin_96,fw_ice_96,jvm_resin_96,jvm_ice_96,jvm_mq_97"

task.jvm_resin_96.dataType="jvm"
task.jvm_resin_96.ip="192.168.1.103"
task.jvm_resin_96.port="11010"
task.jvm_resin_96.cronSche="30 * * * * ? "
task.jvm_resin_96.status="start"

task.jvm_ice_96.dataType="jvm"
task.jvm_ice_96.ip="192.168.1.103"
task.jvm_ice_96.port="11020"
task.jvm_ice_96.cronSche="30 * * * * ? "
task.jvm_ice_96.status="start"

task.jvm_mq_97.dataType="jvm"
task.jvm_mq_97.ip="192.168.1.103"
task.jvm_mq_97.port="11030"
task.jvm_mq_97.cronSche="30 * * * * ? "
task.jvm_mq_97.status="start"

task.mq_97.dataType="mq"
task.mq_97.ip="192.168.1.103"
task.mq_97.port="11030"
task.mq_97.cronSche="30 * * * * ? "
task.mq_97.status="start"

task.ice_96.dataType="ice"
task.ice_96.ip="192.168.1.103"
task.ice_96.port="11020"
task.ice_96.cronSche="30 * * * * ? "
task.ice_96.status="start"

task.resin_96.dataType="resin"
task.resin_96.ip="192.168.1.103"
task.resin_96.port="11010"
task.resin_96.cronSche="30 * * * * ? "
task.resin_96.status="start"

task.fw_ice_96.dataType="fw"
task.fw_ice_96.ip="192.168.1.103"
task.fw_ice_96.port="11020"
task.fw_ice_96.cronSche="30 * * * * ? "
task.fw_ice_96.status="start"


