log4j.appender.stdout="org.apache.log4j.ConsoleAppender
				"
log4j.rootLogger="error, stdout, fileout"
log4j.rootLogger.com.github.ipaas.ideploy="debug"
log4j.appender.fileout.layout.ConversionPattern="%d (%F:%L) %-5p -
					%c %x - %m%n"
log4j.appender.fileout.layout="org.apache.log4j.PatternLayout
				"
log4j.appender.fileout="org.apache.log4j.DailyRollingFileAppender
				"
log4j.appender.fileout.File="/www/applog/agent.ideploy.ipaas/felix.log
				"
log4j.appender.fileout.encoding="utf-8
				"
log4j.appender.stdout.layout.ConversionPattern="%d (%F:%L) %-5p - %c
					%x - %m%n"
log4j.appender.stdout.layout="org.apache.log4j.PatternLayout
				"
